asgiref==3.2.10
astroid==2.4.2
bcrypt==3.2.0
boto3==1.14.56
botocore==1.17.56
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
dj-database-url==0.5.0
Django==3.1
django-environ==0.4.5
# django-heroku==0.3.1
django-s3-storage==0.13.4
django-sass-compiler==1.1.0
django-widget-tweaks==1.4.8
docutils==0.15.2
gunicorn==20.0.4
idna==2.10
isort==4.3.21
jmespath==0.10.0
lazy-object-proxy==1.4.3
libsass==0.20.1
mccabe==0.6.1
Pillow==7.2.0
psycopg2-binary==2.8.5
pycparser==2.20
pyfiglet==0.8.post1
pylint==2.5.3
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
s3transfer==0.3.3
six==1.15.0
sqlparse==0.3.1
stripe==2.51.0
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.10
whitenoise==5.2.0
wrapt==1.12.1
