{% extends 'base.html' %}

{% block content %}

<a href="/"><h1 id="about-title">KNOW YOUR VOTE</h1></a>

<h5 class="quote">There's no such thing as a vote that doesn't matter.</h5>
<h6 class="quote">-Barack Obama</h6>

<div class="about-page">
    <div class="app-info">
        <h5>
            Voting is both a right and a privilege. That is why it is so crucial to have up-to-date information about upcoming elections, including <span class="ws">who</span> is runninng for <span class="ws">which</span> office (and <span class="ws">why!</span>), as well as <span class="ws">where</span> you can cast your ballot.
        </h5>
        <br />
        <h5>
            That's where we come in. <span class="ws">Know Your Vote</span> is an app designed to help you prepare for upcoming elections. Simply enter your address and select the option that suits you: 1)Find Your Local Representatives; 2) See Contested Elections; or 3) Learn More About Where to Vote.
        </h5>
        <br />
        <h5>
            You can also find more information about your elected officials and whether their seats are up for election or find out where you can vote, where you can vote early, or drop off your ballot.
        </h5>
        <br />
        <h5>
            We don't store your address anywhere, so you don't have to worry about any privacy issues.
        </h5>
        <br />
        <h5>
            If you'd like to contact us for any reason, you can shoot us an email <a id="contact-link" href="{% url 'email' %}">here</a>.
        </h5>
    </div>
</div>

{% endblock %}