{% extends 'base.html' %}

{% block content %}

{% if representatives %}
<h2 class="data-title">Representing {{ address }}</h2>
<div class="rep-display">
    {% for key, value in test_representatives.items %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ value.name }}</span>
                <h5>{{ value.office.name }}</h5>
                <h5>{{ value.party }}</h5>
                <h6>{{ value.address.0.line1 }}, {{ value.address.0.city }}, {{ value.address.0.state }} {{ value.address.0.zip }}</h6>
                <br>
                {% if value.photoUrl %}
                    <img src="{{ value.photoUrl }}" height="400px" width="400px">
                {% else %}
                    <img src="https://i.imgur.com/wYs2wkU.jpg" height="400px" width="400px">
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

{% elif elections %}
    {% if elections.contests %}
    <h2 class="data-title">Seats Up for Election at {{ address }}</h2>
    <div class="rep-display"></div>
    {% for contest in elections.contests %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ contest.office }}</span>
            <h4>Candidates:</h4>
            {% for candidate in contest.candidates %}
                <h5>{{ candidate.name }}</h5>
                <h6>{{ candidate.party }}</h6>
                <a href="{{ candidate.candidateUrl }}">{{ candidate.candidateUrl}}</a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <div>
    {% else %}
        <h5>Unfortunately, election data is not available for this address yet.</h5>
    {% endif %}

{% else %}
        <h1>POLLING LOCATIONS!</h1>
{% endif %}


{% endblock %}