body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* background-image: url("https://i.imgur.com/ulyU4J5.jpg");
    background-size: cover; */
    font-family: 'Cormorant Garamond', serif;
}

main {
    flex: 1 0 auto;
    margin: auto;
    margin-top: 150px;
}

#homepage {
    background-image: url("https://i.imgur.com/ulyU4J5.jpg");
    background-size: cover;
}

#reps {
    background-color: red;
}

#elections {
    background-color: blue;
}

footer {
    padding-top: 0;
    text-align: right;
}

.nav-wrapper {
    background-color: blue !important;
    justify-content: space-around;
}

.page-footer {
    background-color: red !important;
}

#site-title {
    text-align: center;
    color: blue;
    font-size: 150px;
    font-weight: 800;
    border: 5px solid red;
    background-color: white;
}

#site-title:hover {
    color: red;
    border: 5px solid blue;
}

#about-title {
    text-align: center;
    color: blue;
    font-size: 150px;
    font-weight: 800;
}

#about-title:hover {
    color: red;
}

.quote {
    color: red;
    text-align: center;
}

.ws {
    font-style: italic;
    font-weight: 600;
    color: red;
}

.about-page {
    display: flex;
    justify-content: center;
}

.app-info {
    width: 750px;
    text-align: justify;
    padding-bottom: 25px;
}

.data-title {
    text-align: center;
    color: blue;
    font-size: 75px;
    font-weight: 800;
    font-family: 'Cormorant Garamond', serif;
    border-bottom: 5px solid red;
    /* background-color: white;  */
    /* width: 1500px; */
}

#data-reps, .data-elections {
    color: white;
    text-align: center;
    font-size: 50px;
}

.data-title-locations {
    text-align: center;
    color: red;
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    width: 1500px;
}

.button-field {
    display: flex;
    justify-content: center;
}

#rep-card {
    margin: 0 auto !important;
    width: 50%
}

#rep-card-content {
    text-align: center;
    width: 100%
} 

#evsCard {
    margin: 0 auto !important;
    width: 50%
}

#evsCardContent {
    text-align: center;
    width: 100%
} 

#dolCard {
    margin: 0 auto !important;
    width: 50%
}

#dolCardContent {
    text-align: center;
    width: 100%
} 

#plCard {
    margin: 0 auto !important;
    width: 50%
}

#plCardContent {
    text-align: center;
    width: 100%
} 

.input-field {
    font-family: 'Cormorant Garamond', serif;
}

input:focus {
    border-bottom: 1px solid blue !important;
    box-shadow: 0 1px 00 blue !important;
}

#address-input {
    text-align: center;
    font-size: 30px;
    color: red;
    font-family: 'Cormorant Garamond', serif;
}

.label.active {
    color: blue !important;
}

.material-icons {
    color: blue;
}

.btn-field {
    display: flex;
    justify-content: space-evenly;
}

#rep-btn {
    background-color: red;
    font-family: 'Cormorant Garamond', serif;
    transition: 150ms;
}

#rep-btn:hover, #el-btn:hover, #loc-btn:hover {
    box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.4);
    font-style: italic;
}

#el-btn {
    background-color: blue;
    font-family: 'Cormorant Garamond', serif;
    transition: 150ms;
}

#loc-btn {
    background-color: white;
    color: red;
    font-family: 'Cormorant Garamond', serif;
    transition: 150ms;
}

#pl-btn {
    background-color: red;
    font-family: 'Cormorant Garamond', serif;
}

#evs-btn {
    background-color: blue;
    font-family: 'Cormorant Garamond', serif;
}

#dol-btn {
    background-color: white;
    color: red;
    font-family: 'Cormorant Garamond', serif;
}

.rep-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    padding: 15px;
    margin: 15px !important;
}

.card-title {
    font-size: 40px !important;
}

h3, h4, h5, h6, span {
    color: blue;
}

.polling-locations-title {
    text-align: center;
    color: red;
}

/* .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
} */

#modal {
    width: 500px;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 9999;
    display: none;
}